<ion-header>

  <ion-navbar>
    <ion-buttons left>
    <button ion-button menuToggle="left" clear icon-only>
      <ion-icon name="menu"></ion-icon>
    </button>
    </ion-buttons>
    <ion-title *ngIf="!loading">{{ channelName }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list *ngIf="!loading">
    <ion-item *ngFor="let message of messages">
      <ion-avatar item-start>
        <img [src]="getAvatar(message.author.email)">
      </ion-avatar>
      <h2>{{message.text}}</h2>
      <p>{{message.author.name}}</p>
    </ion-item>
  </ion-list>
  <ion-input name="message" [(ngModel)]="message" placeholder="New Message"></ion-input>
  <button ion-button (click)="sendMessage()">Send Message</button>
</ion-content>
